header {
  background-color: $light-color;
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 1fr;
  column-gap: 20px;
  align-items: center;
  padding: 0.7rem;
  border-radius: 10px;
  // height: 100%;
  // width: 100%;

  img {
    width: 100%;
    height: 60%;
    object-fit: contain;
  }
  form {
    background-color: white;
    border-radius: 10px;
    height: 70%;
    padding-left: 0.5rem;
  }
}
.search {
  @include flex;
  justify-content: center;
  input {
    width: 80%;
    outline: none;
    border: none;
    height: 80%;
    padding: 0.5rem;
  }
  ::placeholder {
    text-align: left;
    text-transform: capitalize;
    font-size: 1rem;
    color: $gray;
  }
}
.add,
.bookmark {
  height: fit-content;
  @include flex;
  width: 90%;
  :hover {
    cursor: pointer;
  }
}
.add,
.bookmark {
  i {
    color: $pink-color;
    height: 100%;
  }
}
.add,
.bookmark {
  span {
    text-transform: uppercase;
    text-align: center;
    height: 100%;
  }
}
