.result {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 30px 30px;
  grid-template-areas:
    "img h1 h1"
    "img h5 ico";
  column-gap: 10px;
  align-content: center;
  text-transform: uppercase;
  padding: 0.7rem;
  margin-top: 2rem;
  transition: transform 0.2s ease-in-out;
  &:hover {
    background-color: $light-color;
    transform: translateY(-5px);
  }
  img {
    grid-area: img;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: contain;
  }
  h1 {
    grid-area: h1;
    font-size: 1rem;
    @include words;
    font-weight: normal;
    margin-top: 0.7rem;
    // margin: auto;
    // background-color: $dark-color;
    color: $pink-color;
  }
  h5 {
    grid-area: h5;
    font-size: 0.8rem;
    width: 100%;
    color: $gray;
    font-weight: lighter;
    // background-color: $dark-color;
    // margin: auto;
    @include words;
  }
  i {
    grid-area: ico;
    text-align: end;
    color: $pink-color;
  }
}
.page {
  @include flex;
  justify-content: space-between;
  color: $pink-color;
  width: 90%;
  height: 5%;
  margin: 30px auto;
  button {
    width: 30%;
    background-color: $light-color;
    color: $pink-color;
    padding: 0.5rem;
    @include flex;
  }
}
