.spinner {
  margin: 5rem auto;
  text-align: center;
  i {
    color: $pink-color;
    // height: 10rem;
    // width: 10rem;
    animation: rotate 1s infinite linear;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.message {
  @include flex;
  width: 45%;
  justify-content: space-between;
  margin: 3rem auto;

  span {
    font-size: 1.4rem;
    margin-left: 0.6rem;
  }
}
figure {
  width: 100%;
  height: 30%;
  opacity: 0.6;
  position: relative;
  h1 {
    position: absolute;
    bottom: 0;
    left: 50%;
    color: white;
    width: 50%;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    transform: translate(-50%, 10%) skewY(-6deg);
    line-height: 1.7;
    span {
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;
      padding: 1rem 1.5rem;
      // background: linear-gradient(to right, $dark-color, $pink-color);
      background-color: $pink-color;
    }
  }
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
.info-sect {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 10%;
}
.info,
.info2 {
  @include flex;
  height: 50%;
  justify-content: space-between;
  font-size: 1.2rem;
  background-color: $light-color;
  text-transform: uppercase;
}
.info {
  margin-top: 1rem;
}
.info2 {
  font-size: 0.8rem;
  justify-content: space-around;
  i {
    color: $pink-color;
  }
}
.minutes {
  margin-left: 5rem;
  font-weight: 20;
  i {
    color: $pink-color;
    margin: 0.5rem;
  }
}
.servings {
  margin-left: 0.3rem;
  i {
    color: $pink-color;
    margin: 0.5rem;
    transition: transform 0.2s ease-in-out;
  }
  i:nth-child(3),
  i:nth-child(4) {
    cursor: pointer;
    margin-left: 0.1rem;
  }
  i:nth-child(3) {
    margin-left: 1rem;
  }
  i:hover {
    transform: translateY(-2px);
  }
}
.mark {
  margin-right: 4rem;
  background: $pink-color;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: transform 0.2s ease-in-out;
  @include flex;
  &:hover {
    transform: scale(1.07);
    cursor: pointer;
  }
  i {
    color: white;
    &.active {
      color: rgb(5, 5, 5);
    }
  }
}
.ig {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  background-color: #f2efee;
  gap: 1rem 2rem;
  width: 100%;
  // margin: auto;
  // text-align: center;
  padding: 0px 4rem;
  h1 {
    grid-column: 1/-1;
    text-align: center;
    margin-top: 1rem;
    color: $pink-color;
    text-transform: uppercase;
  }
  p {
    display: inline;
    // word-wrap: break-word;
  }
  i {
    color: $pink-color;
    margin-right: 0.3rem;
  }
  div {
    // @include flex;
    // justify-content: center;
    // margin: 0 1.5rem;
    display: flex;
  }
}
.howto {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  background-color: $light-color;
  //   justify-content: center;
  //   height: 100%;
  text-align: center;
  h1 {
    margin-top: 3rem;
    color: $pink-color;
  }
  p {
    // text-align: center;
    width: 90%;
    margin: 2rem auto;
    font-size: 1.3rem;
    height: 100%;
  }
  button {
    width: 150px;
    height: 50px;
    margin: auto;
    a {
      text-decoration: none;
      color: white;
    }
  }
}
