main {
  display: grid;
  grid-template-rows: 6.25rem 80rem;
  grid-template-columns: 1fr 2fr;
  width: 80%;
  // height: 800px;
  border-radius: 10px;
  margin: 20px auto;
  background-color: $light-color;
  box-shadow: 0 0 10px #777777;
}

.left {
  width: 100%;
  height: 100%;
  background-color: white;
  @include flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  &_result {
    width: 100%;
    height: 90%;
    // background-color: $pink-color;
  }
}
.right {
  width: 100%;
  height: 100%;
  background-color: $light-color;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
}
